{% extends "base.html" %}
{% block content %}

<style>
img {
    max-width: 100%;
    max-height: 100%;
}
.landscape {
    height: auto;
    width: auto;
}
</style>
<div class="row justify-content-center">
    <div class="col-auto">
        <a href="javascript:window.location.href=window.location.href"><button class="btn btn-lg disabled">Changes as below.<br>Any existing and conflicting prices will be expired the day before new pricing.<br>Do you want to proceed?</button></a>
        <br>
        {{df.to_html().replace("NaT", "").replace("NaN", "")|safe}}
        <br>
        <form method="post" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            {{form.confirm.label}}
            {% for error in form.confirm.errors %}
            <br>
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
            {{form.confirm}}
            <br>
            {{form.user.label}}
            {{form.user}}
            {% for error in form.user.errors %}
            <br>
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
            <br>
            {{form.submit}}
            {% for error in form.submit.errors %}
            <br>
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </form>
        <br>
        <br>
        {% include 'image_footer.html' %}
    </div>
</div>
{% endblock %}
