{% extends "base.html" %}
{% block content %}
<style>
img {
    max-width: 100%;
    max-height: 100%;
}
.landscape {
    height: auto;
    width: auto;
}
</style>
<div class="row justify-content-center">
    <div class="col-auto">
        <a href=""><button class="btn btn-lg disabled">Templates</button></a>
        {% for t in templates.keys() %}
        <br>
        <a href="{{templates[t]}}">
            <button class="btn btn-lg bg-primary">{{t}}</button>
        </a>
        <br>
        {%endfor%}
        <br>
        <br>
        <a href=""><button class="btn btn-lg disabled">Uploads</button></a>
        {% for u in uploads %}
        <form method="post" enctype="multipart/form-data">
            {{ u.hidden_tag() }}
            {{ u.file }}
            <input type="submit">
        </form>
        {%endfor%}
        <br>
        <div class="landscape">
            {% if number == 0%}
            <img src="/static/0.jpg" alt="FMP">
            {%else%}
            <img src="{{image_url}}" alt="FMP">
            <figcaption class="blockquote-footer">
                AI generated image from <cite title="Source Title"><a href="https://lexica.art/?q=woman+at+a+computer+in+wool+top.+promotional+photo+painting">Lexica</a></cite>
              </figcaption>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}